
<p>
  <strong>Username:</strong>
  <%= @student_org.username %>
</p>

<p>
  <strong>Encrypted password:</strong>
  <%= @student_org.encrypted_password %>
</p>

<p>
  <strong>Sign in count:</strong>
  <%= @student_org.sign_in_count %>
</p>

<p>
  <strong>University:</strong>
  <%= @student_org.university_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @student_org.description %>
</p>

<h4>Show the students signed in</h4>

<% @students.each do |student| %>
  <%= student.student_id %> ||
  <%= student.student_org_id %> ||
  <%= student.created_at %><br />
<% end %>

<p>And here is that data graphically:</p>

<div class="d3-wrapper">
  <h3 class="d3-title">End Graph</h3>
  <p>This data is dummy data; does not yet use the above selection.</p>
</div>

<style>

.d3-wrapper {
  width: 70%;
  margin: 2em auto;
}

.d3-title {
  text-align: center;
}

.graph-bar {
  transition: .3s;
}

.graph-bar:hover {
  fill: lightsteelblue;
}

</style>

<script>
          var dataSet = [160, 190, 80, 120, 60, 100, 120, 145];

					var canvas = d3.select(".d3-wrapper")
						.append("svg")
						.attr("height","200px")
						.attr("width","100%");

					var bars = canvas.selectAll("rect")
						.data(dataSet)
						.enter()
						.append("rect")
						.attr("x", function (d,i) {
							return i * (1/dataSet.length)*100 + "%";
						} )
						.attr("y", function (d) {
							return 200 - d + "px";
						} )
						.attr("width", (1/dataSet.length)*100 + "%" )
						.attr("height", function (d) {
							return d + "px";
						} );

					bars.attr("fill","steelblue").attr("class","graph-bar");

</script>

<%= link_to 'Edit', edit_student_org_path(@student_org) %> |
<%= link_to 'Back', student_orgs_path %>
