<%= form_for @student_org, url: {action: "verify_student_org"} do |f| %>
  <% if @student_org.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_org.errors.count, "error") %> prohibited this student_org from being saved:</h2>

      <ul>
      <% @student_org.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="six columns">
    <div class="field">
      <%= f.label :id %>
      <%= f.text_field :id %>
    </div>
    <!-- <small>Enter normal password, will change name later</small> -->
    <div class="field">
      <%= f.label :encrypted_password %>
      <%= f.text_field :encrypted_password, type: "password" %>
    </div>
    <div class="actions">
      <%= f.submit "Sign in" %>
    </div>
  </div>
<% end %>
